.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.buttn{
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #2d3668;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}